.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
}

#huedraco-img {
  max-width: 50%;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#huedraco-description {
  font-family: 'Helvetica', sans-serif;
  font-size: 1.2rem;
  margin-top: 2rem;
  text-align: center;
}

#huedraco-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}